@font-face{
    font-family: "caldos";
    src: url('./fonts/Cardo/Cardo-Regular.ttf');
}
@font-face{
    font-family: "inter";
    src: url('./fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}
p,span,a {
    font-family: 'caldos';
}
h1,h2,h3,h4,h5,h5 strong {
    font-family: 'alfa';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
section{
    padding: 100px;

}
a{
    text-decoration: none !important;
}
.center{
    text-align: center;
    color: #2196f3;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

.banner{
    position: relative;
    min-height: 100vh;
    background: url('img/banner.jpg');
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;



}

.banner h2{
    font-size: 3em;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5em;

}
.banner h2 span {
    font-size: 1.5em;
    font-weight: 700;
}

.banner h3 {
    font-size: 1.5em;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5em;
}
.btn{
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #ffffff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;


}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky{
    background: #ffffff;
    padding:10px;
    box-shadow: o 5px 20px rgba(0, 0, 0, 0.2);
}

header.sticky .logo{
    color: #111;
}
header .logo{
    color: #ffffff;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;

}

header ul{
    position: relative;
    display: flex;

}

header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none
    ;
}
header.sticky ul li a {
    color: #111;

}
.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111111;

}
.heading h2 {
    font-weight: 600;
    font-size: 30px;
}
.content {
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    justify-content: space-between;

}

.contentBx h3{
    font-size: 24px;
    margin-bottom: 10px;

}
.w50{
    min-width: 50%;
}

img {
    max-width: 100%;
}


.services{
    background: #111;

}

.heading.white{
    color: #ffffff;

}

.services .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

}
.services .content .servicesBx{
    padding: 40px 20px;
    background: #222222;
    color: #ffffff;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;

}

.services .content .servicesBx:hover{
    background: #2196f3;

}

.services .content .servicesBx img{
    max-width: 80px;
    filter: invert(1);
}

.services .content .servicesBx h2{
    font-size: 20px;
    font-weight: 600;
}

.work .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.work .content .workBx{
    width: 50%;
    padding: 20px;


}


.work .content .workBx img{
    max-width: 100%
}

.copyrigth{
    background: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

@media (max-width: 991px)
{
    header,
    header.stiky{
      padding: 20px 50px;

    }
    .menu{
        position: fixed;
        top: 60px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #ffffff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
      }
      .menu.active{
          left: 0;
      }
      header ul li a 
      {
          color: black;
          font-size: 28px;
          margin: 15px;

      }
      .toggle
      {
          width: 40px;
          height: 40px;
          background: url('./img/menu.png');
          background-position: center;
          background-repeat: no-repeat;
          background-size: 30px;
      }
      .toggle.active
      {
          width: 40px;
          height: 40px;
          background: url('./img/close.png');
          background-position: center;
          background-repeat: no-repeat;
          background-size: 30px;
      }
      header.sticky .toggle
      {
        filter: invert(1);
      }
      section
      {
          padding: 100px 50px;
      }
      .banner
      {
          padding: 150px 50px 100px;
      }
      .banner h2 {
          font-size: 1.5em;
      }
      .banner h3
      {
          font-size: 1em;
      }
      .btn{
          margin-top: 10px;
          padding: 10px 20px;
          font-size: 16px;
      }
      .heading h2
      {
          font-weight: 600;
          font-size: 24px;
      }
      .content 
      {flex-direction: column;
      }
      .w50
      {
        margin-bottom: 20px;
      }
      .services .content .servicesBx
      {
          margin: 10px;
      }

      .work .content .workBx
      {
          width: 100%;
          padding: 10px;
      }
      header .logo{
          font-size: 12px;
      }
}